<% layout("/layouts/boilerplate.ejs") %>

<div id="filters">
  <div class="filters"><div><i class="fa-solid fa-plane"></i><p>Flights</p></div></div>
  <div class="filters"><div><i class="fa-solid fa-hotel"></i><p>Hotls</p></div></div>
  <div class="filters"><div><i class="fa-solid fa-train"></i><p>Trains</p></div></div>
  <div class="filters"><div><i class="fa-solid fa-taxi"></i><p>Cabs</p></div></div>
  <div class="filters"><div><i class="fa-solid fa-bus"></i><p>Bus</p></div></div>
  <div class="filters"><div><i class="fa-brands fa-cc-visa"></i><p>visa</p></div></div>
  <div class="filters"><div><i class="fa-solid fa-wallet"></i><p>Currency</p></div></div>
  
  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Show Tax</label>
    </div>
  </div>

</div>

<script>
  let taxswitch = document.getElementById("flexSwitchCheckDefault")
  taxswitch.addEventListener("click" , () =>{
    let taxinfo = document.getElementsByClassName("tax-info");
    for(info of taxinfo){
      if(info.style.display!= "inline") info.style.display = "inline";
      else info.style.display = "none";
    }
  })
</script>








<body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of allListing){ %>
            <div class="card">
                <img src="<%=listing.image_url.url%>"  class="card-img-top" alt="listing_image" style="height: 20rem;"  >
                <div class="card-body">
                  <h3 class="card-title"><b><%=listing.title%></b></h3>
                  <p class="card-text">
                    <!-- descriptin remove -->
                    <hr>
                     Location : <%=listing.location%>
                    <br>
                     country : <%=listing.country%>
                    <br>
                     Price : ₹ <%=listing.price.toLocaleString("en-IN")%>
                     <i class="tax-info">&nbsp; +18% GST</i>
                     <br>
                <a href="/listings/<%=listing.id%>" class="btn btn-primary">More Details</a>
                </div>
              </div>
        <%}%>
    </div>

</body>